$primary: #db4c3f;
$gray: rgb(234,234,234);
$sidebar-width: 200px;
$header-height: 50px;

.container {
    display: grid;
    grid-template-rows:  $header-height calc(100vh - $header-height);
    grid-template-columns: $sidebar-width calc(100vw - $sidebar-width);

}

.header {
    background-color: $primary;
    grid-column: 1/3; //start/end
    grid-row: 1/2;


//content
display: flex;
align-items: center;
gap: 20px;
padding: 0.5rem 2rem;
font-size: 20px;
color: $gray;

& > span {
    display: flex;
    align-items: center;
}

}

.sidebar {
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: antiquewhite;
}

.content {
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: saddlebrown;
} 